@model tareaBandas.Models.Banda
@{
    ViewData["Title"] = "Delete";
}

<h2>Borrar</h2>
<h3>¿Esta seguro de eliminar este registro?</h3>

<div>
    <h4>Banda</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BandaNombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BandaNombre)
        </dd>

    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BandaGenero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BandaGenero)
        </dd>
    </dl>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BandaSitioWeb)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BandaSitioWeb)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BandaVocalista)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BandaVocalista)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BandaInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BandaInicio)
        </dd>
    </dl>

</div>

<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="BandaId"/>
        <input type="submit" class="btn btn-danger" value="Borrar"/>
        <a asp-action="Index" class="btn btn-success">Regresar</a>
    </form>
    
</div>