@model tareaBandas.Models.Banda
@{ 
    ViewData["Title"] = "Details";
} 

<h2>Detalle de bandas</h2>

<div>
    <h4>Banda</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BandaNombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BandaNombre)
        </dd>

    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BandaGenero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BandaGenero)
        </dd>
    </dl>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BandaSitioWeb)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BandaSitioWeb)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BandaVocalista)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BandaVocalista)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BandaInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BandaInicio)
        </dd>
    </dl>

</div>

<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.BandaId">Editar</a>
    <a asp-action="Index" class="btn btn-warning" asp-route-id="@Model.BandaId">Regresar</a>
</div>